* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
#navbar {
    border:2px slod black;
    padding:10px 20px;
    display: flex;
    justify-content:start;
    align-items:center;
    text-decoration:solid;
    color: #5d0303;
    position: relative;
}
#navbar ul{
    list-style:none;
    display:flex;
    gap:15px;
    margin:0;
    padding:0;
}
#navbar::before{
    content:"";
    background-color: rgb(144, 1, 4);
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.5;
    
}
#navbar ul li a{
    display:block;
    padding:3px 22px;
    color: #01030a;
    text-decoration:solid;
    align-items: baseline;
    text-align: center;
    border-radius:50px;
}
#navbar ul li a:hover{
    color:rgb(1, 7, 11);
    background-color: #ddd;
}
#logo img{
  margin:34px 45px; 
   height:200px;
   align-items:;
}

#login {
    background: #2107eb;
    padding: 8px 15px;
    border-radius: 5px;
}

/* HOME SECTION WITH BACKGROUND IMAGE */
#home{
    padding:3px 200px;
    height: 40vh;
    background-image: 
        linear-gradient(rgba(17, 2, 2, 0.6), rgba(141, 4, 4, 0.6)),
        url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1WImDCjE5OsNhFYglH7YYbKISBcqrJvPeeQ&s");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration-thickness:inherit;
    opacity:0.89;
}
#home h1{
    color:white;
    text-align:centre;
}
#home p{
    color:white;
    text-align:centre;
    font: size 1.5em;
}
#home button {
    padding: 12px 25px;
    border: none;
    background: #1105fe;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border:2px solid black;
    margin:17px;
}

/* PRODUCTS */
.products {
    padding: 50px;
    text-align: center;
}

.products h2 {
    margin-bottom: 30px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product h3 {
    margin: 10px 0;
}

.product button {
    margin-top: 10px;
    padding: 8px 15px;
    background: #ec0505;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* FOOTER */
footer {
    background-color: #1a1a2e;
    color: white;
    text-align: center;
    padding: 15px;
}
