* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVIGATION BAR*/
nav {
    display: flex;
    align-items:center;
    color: rgb(238, 20, 27);
    text-decoration: none;
    margin-left: 20px;
}
#logo {
  margin:10px; 
}
#logo img{

}

.login {
    background: #ff4c29;
    padding: 8px 15px;
    border-radius: 5px;
}

/* HERO SECTION WITH BACKGROUND IMAGE */
.hero {
    height: 90vh;
    background-image: 
        linear-gradient(rgba(232, 14, 14, 0.6), rgba(255, 3, 3, 0.6)),
        url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1WImDCjE5OsNhFYglH7YYbKISBcqrJvPeeQ&s");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    margin: 15px 0;
    font-size: 18px;
}

.hero button {
    padding: 12px 25px;
    border: none;
    background: #111010;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

/* PRODUCTS */
.products {
    padding: 50px;
    text-align: center;
}

.products h2 {
    margin-bottom: 30px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product h3 {
    margin: 10px 0;
}

.product button {
    margin-top: 10px;
    padding: 8px 15px;
    background: #ff4c29;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* FOOTER */
footer {
    background-color: #1a1a2e;
    color: white;
    text-align: center;
    padding: 15px;
}
